<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <title>KR1suLk4</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <h:outputScript library="js" name="Script2.js"/>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>

    <h:body>
        <div class="input">
            <div id="graphic">
                <h:form id="hide_form" style="margin-left: 40%" >
                    <h:inputHidden id="xCanvas" value="#{Bean.xCanvas}">
                    </h:inputHidden>
                    <h:inputHidden id="yCanvas" value="#{Bean.yCanvas}">
                    </h:inputHidden>
                    <canvas id="canvas" width="300" height="300" onclick="clickCanvas()"/>
                    <p:remoteCommand name="addPoint" action="#{Bean.addPointFromCanvas}" update=":results "/>
                </h:form>

                <h:form id="form" style="margin-left: 40%">
                    <!--<div id="x_input">-->
                        <!--X: <h:outputText id="x_output" value="#{Bean.x}"/>-->
                        <!--<p:spinner id="X" min="-4" max="4" stepFactor="0.5" value="#{Bean.x}" onkeypress="return false" required="true">-->
                        <!--<p:ajax update="x_output" process="@this" />-->
                            <!--<f:validateDoubleRange minimum="-4" maximum="4" for="X" />-->
                        <!--</p:spinner>-->
                        <!--<br/>-->
                    <!--</div>-->

                    <p:growl id="x_input" />

                    <h:panelGrid columns="7" style="margin-bottom:10px" cellpadding="5" id="X">
                        <p:selectBooleanCheckbox value="#{Bean.x1}" itemLabel="-4" required="true">
                        <f:validator validatorId="ValidatorX"/>
                        </p:selectBooleanCheckbox>
                        <p:selectBooleanCheckbox value="#{Bean.x2}" itemLabel="-3" >
                        <f:validator validatorId="ValidatorX"/>
                        </p:selectBooleanCheckbox>
                        <p:selectBooleanCheckbox value="#{Bean.x3}" itemLabel="-2" >
                        <f:validator validatorId="ValidatorX"/>
                        </p:selectBooleanCheckbox>
                        <p:selectBooleanCheckbox value="#{Bean.x4}" itemLabel="-1" >
                        <f:validator validatorId="ValidatorX"/>
                        </p:selectBooleanCheckbox>
                        <p:selectBooleanCheckbox value="#{Bean.x5}" itemLabel="0" >
                        <f:validator validatorId="ValidatorX"/>
                        </p:selectBooleanCheckbox>
                        <p:selectBooleanCheckbox  value="#{Bean.x6}" itemLabel="1">
                        <f:validator validatorId="ValidatorX"/>
                        </p:selectBooleanCheckbox>
                        <p:selectBooleanCheckbox value="#{Bean.x7}" itemLabel="2">
                        <f:validator validatorId="ValidatorX"/>
                        </p:selectBooleanCheckbox>
                            <!--<p:ajax update="x_outout" process="@this"  />-->

                    </h:panelGrid>


                    <div id="y_input">
                        Y: <h:outputText id="y_output" value="#{Bean.y}"/>
                        <p:inputText value="#{Bean.y}" id="enterY" name="enterY" title="y">
                            <f:ajax event="keyup" render="y_output"/>
                            <f:validateDoubleRange minimum="-3" maximum="3" for="enterY"/>
                            <f:validateLength maximum="5" for="enterY"/>
                        </p:inputText>
                        <br/>
                    </div>


                    <div id="r_input">
                        R: <h:outputText id="r_output" value="#{Bean.r}" />

                        <p:inputText  value="#{Bean.r}" id = "R" onchange="createGraphic(this)" >
                            <p:ajax update="r_output" process="@this"/>
                            <f:validateDoubleRange minimum="1" maximum="4" for="R"/>
                            <f:validateLength maximum="5" for="R"/>
                        </p:inputText>
                        <br/>
                    </div>

                    <h:commandButton style="margin-left: 12%" value="SUBMIT" action="#{Bean.addPointFromForm}">
                        <f:ajax execute="@form" render="results"/>
                    </h:commandButton>



                </h:form>
            </div>
         </div>

        <h:form style="margin-left: 45%">
            <h:commandButton action="startPage" value="PREVIOUS_PAGE"/>
        </h:form>

        <div id="table_results" style="margin-left: 45%">
            <h:dataTable value="#{Bean.points}" var="p" styleClass="order-table" headerClass="order-table-header" rowClasses="order-table-odd-row, order-table-even-row" id="results">
                <h:column>
                    <f:facet name="header">
                        X
                    </f:facet>
                    #{p.x}
                </h:column>

                <h:column>
                    <f:facet name="header">
                        Y
                    </f:facet>
                    #{p.y}
                </h:column>
                <h:column>
                    <f:facet name="header">
                        R
                    </f:facet>
                    #{p.r}
                </h:column>

                <h:column>
                    <f:facet name="header">
                        HIT
                    </f:facet>
                    #{p.hit}
                    <h:outputScript>#{p.getDrawPoint(Bean.r)}</h:outputScript>
                </h:column>
                <f:facet name="header">
                    Your points
                </f:facet>
                <h:column>
                    <h:commandButton value="Show" onclick="showPoint('${p.x}', '${p.y}')"></h:commandButton>
                </h:column>
            </h:dataTable>
        </div>


    </h:body>
</f:view>
</html>
