<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://xmlns.jcp.org/jsf/html"
      xmlns:f = "http://xmlns.jcp.org/jsf/core"
      xmlns:p = "http://primefaces.org/ui">
<f:view>
    <h:head>
        <title>KR1sULk4</title>
        <h:outputStylesheet library = "css" name = "style.css"/>
        <style type = "text/css">
            .ui-analog-clock {
                width: 400px;
            }
        </style>
    </h:head>

    <h:body>
        <div id = "header">
            <p class = "welcome">Stedent: POGOSOV LEVON</p>
            <p class = "welcome">Варивант: 20293 </p>
            <p class = "welcome">Группа: P3202</p>
        </div>

        <h:form style = "margin-left: 578px">
            <div class = "time">
                <p:clock displayMode = "analog" />
            </div>
        </h:form>
        <h:form style = "margin-left: 730px">
            <p:clock  pattern="dd.MM.yyyy"  mode="server"  />
        </h:form>
        <br></br>>
        <h:form style = "margin-left: 735px">
            <h:commandButton  action = "index" value = "NEXT_PAGE"/>
        </h:form>
    </h:body>
</f:view>
</html>
