#header{
    background: red;
    align-self: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}
.welcome {
    color: white;
}
body {
    background: dodgerblue;
    margin: 0px;
    padding: 0px;
}
#table_results{
    color: white;
}
#canvas{
    background: white;
}
